
@{
    ViewBag.Title = "DeleteProduct";
}

<form style="border: double;text-align:center" action="/Admin/Delete2Product">
    Name <input type="text" name="name" />
    <br /><br /><br />

    <input type="submit" id="btn" value="Delete">
</form>
<br /><br /><br />


