
@{
    ViewBag.Title = "UpdateProduct";
}

<form style="border: double;text-align:center" action="/Admin/Update2Product">
    Name <input type="text" name="name" />
    <br /><br /><br />

    <input type="submit" id="btn" value="Search">
</form>
<br /><br /><br />

