
@{
    ViewBag.Title = "shipping";
}

<!---->
<div class="top-nav">
    <span class="menu">MENU </span>
    <ul>
        <li >@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("NEW PRODUCTS", "Product", "Product") </li>
        <li class="active">@Html.ActionLink("SHIPPING", "shipping", "Product") </li>
        <li>@Html.ActionLink("About Us", "About", "Home")</li>
    </ul>
    <!--script-->
    <script>
        $("span.menu").click(function () {
            $(".top-nav ul").slideToggle(500, function () {
            });
        });
    </script>
</div>
<!---->
<div class="shipping-top">
    <h2>Shipping</h2>
    <div class="shipping">
        <div class="col-md-4 shipping-left">
            <div class="top-ship">
                <h3>Standard Shipping Rates</h3>
                <div class="order">
                    <label>Order</label>
                    <span>Rate</span>
                    <div class="clearfix"> </div>
                </div>
                <div class="order-top">
                    <label>Duis autem vel eum iriure </label>
                    <span>$8.55</span>
                    <div class="clearfix"> </div>
                </div>
                <div class="order-top">
                    <label>Qui blandit praesent </label>
                    <span>$9.55</span>
                    <div class="clearfix"> </div>
                </div>
                <div class="order-top">
                    <label>Accumsan et iusto odio </label>
                    <span>$10.58</span>
                    <div class="clearfix"> </div>
                </div>
                <div class="order-top">
                    <label>Nulla facilisis at vero eros</label>
                    <span>$8.55</span>
                    <div class="clearfix"> </div>
                </div>
                <div class="order-top">
                    <label>Illum dolore eu feugiat</label>
                    <span>$7.55</span>
                    <div class="clearfix"> </div>
                </div>
                <div class="order-top">
                    <label>Esse molestie consequat</label>
                    <span>$8.95</span>
                    <div class="clearfix"> </div>
                </div>
                <div class="order-top">
                    <label>Hendrerit in vulputate velit</label>
                    <span>$8.15</span>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="top-ship">
                <h3>Standard Delivery Schedule</h3>
                <div class="order">
                    <label>Order placed</label>
                    <span>Order received</span>
                    <div class="clearfix"> </div>
                </div>
                <div class="order-top">
                    <label>Monday</label>
                    <span>Thursday</span>
                    <div class="clearfix"> </div>
                </div>
                <div class="order-top">
                    <label>Tuesday</label>
                    <span>Friday</span>
                    <div class="clearfix"> </div>
                </div>
                <div class="order-top">
                    <label>Wednesday </label>
                    <span>Saturday</span>
                    <div class="clearfix"> </div>
                </div>
                <div class="order-top">
                    <label>Thursday</label>
                    <span>Sunday</span>
                    <div class="clearfix"> </div>
                </div>
                <div class="order-top">
                    <label>Friday</label>
                    <span>Monday</span>
                    <div class="clearfix"> </div>
                </div>
                <div class="order-top">
                    <label>Saturday</label>
                    <span>Tuesday</span>
                    <div class="clearfix"> </div>
                </div>
                <div class="order-top">
                    <label>Sunday</label>
                    <span>Wednesday</span>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 shipping-right">
            <div class="bottom-ship">
                <h3>Shipping In</h3>
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5039769.51723582!2d19.1343786!3d51.918904600000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47009964a4640bbb%3A0x097573ca49cc55ea!2sPoland!5e0!3m2!1sen!2sin!4v1427344373217"></iframe>
            <div class="bottom-ship-top">
                <h3>Sed ut perspiciatis unde omnis</h3>
                <h6>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt magna aliquyam eratsed diam voluptua vero eos et accusam et justo duo dolores et ea rebum.</h6>
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure</p>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>			
